.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
  }

  .chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  .chat__headerInfo {
    flex: 1;
    padding-left: 20px;
  }

  .chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
  }
  
  .chat__headerInfo > p {
    color: gray;
  }
  
  .chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
  }

  .chat__body {
    /* background-color: rgba(242, 243, 0, 0.1); */
    flex: 1;
    /* padding: 30px; */
    /* overflow: scroll; */
    display: flex;
    flex-direction: row;
  }

  /* .chat__body {
    display: flex;
    align-items: center;
    padding: 0;
  } */

  .chat__body__msgs{
    /* flex: 1; */
    /* padding-left: 20px; */
    background-color: rgba(242, 243, 0, 0.1);
    flex: 1;
    padding: 30px;
    overflow: scroll;
    flex-direction: row;
    /* border: 1px solid red; */
  }

  .chat__body__menu{
    display: flex;
    justify-content: space-between;
    /* min-width: 100px; */
  }
  .chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
  }
  .chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
  }
  
  .chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
    margin-top: 10px;
  }
  
  .chat__reciver {
    margin-left: auto;
    background-color: #dcf8c6;
  }

  .chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
  }
  
  .chat__footer > form {
    display: flex;
    flex: 1;
  }
  
  .chat__footer > form > input {
    display: flex;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
  }
  
  .chat__footer > form > button {
    display: none;
  }
  
  .chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
  }

  .chatbox__body{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  
  